[submodule "include/bibliography"]
	path = include/bibliography
	url = git@github.com:krr-up/bibliography.git
[submodule "include/asp-macros"]
	path = include/asp-macros
	url = git@github.com:krr-up/asp-macros.git
[submodule "include/latex-style-comments"]
	path = include/latex-style-comments
	url = git@github.com:krr-up/latex-style-comments.git
